span {
}


#Bild1 {
	padding: 5px;
	margin: 5px;
}

#Bild2 {
        padding: 120px;
        margin: 5px;
}

#Bild3 {
        padding: 230px;
        margin: 5px;
}

#Bild4 {
        width: 80px;
        height: 80px;
        padding: 5px;
        margin: 5px;
}

#Bild5 {
        width: 80px;
        height: 80px;
        padding: 5px;
        margin: 5px;
}

#Bild6 {
        width: 80px;
        height: 80px;
        padding: 5px;
        margin: 5px;
}

#Bild7 {
        width: 80px;
        height: 80px;
        padding: 5px;
        margin: 5px;
}

#Bild8 {
        width: 80px;
        height: 80px;
        padding: 5px;
        margin: 5px;
}

#Bild9 {
        width: 80px;
        height: 80px;
        padding: 5px;
        margin: 5px;
}

